body{
	background-image: url('53eb26dec0f2f.jpg');
/*	background-repeat: no-repeat; */
	background-size: 1400px;
/*	height: 900px;
	width: 1500px;*/
}



/*
background-image{
	opacity: 0.5;
}*/